.App {
  text-align: center;
  padding: 50px;
  margin: 10px; 
  min-height: 100vh;
  height: 100%;
}
.colorContainer{
  margin: 10px;
}

.selectionContainer{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}
/* {display: "flex", flexDirection: "column", alignItems: "center", justifyContent: "center", padding: 50} */