.App {
  text-align: center;
  padding: 50px;
  margin: 10px;
  min-height: 100vh;
  height: 100%;
}

/* {display: "flex", flexDirection: "column", alignItems: "center", justifyContent: "center", padding: 50} */