.topNavigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:deeppink;
}

.topNavigation li{
    float: left;
}

.topNavigation li a{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: #2F2E30;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
}

.topNavigation li a:hover{
    background-color:#2F2E30;
    color: deeppink
}

.topNavigation li a.active{
    color: deeppink
}


.active{
    background-color: #2F2E30;
}

.notactive{
    background-: deeppink;
}


